body{
    margin: auto;
    padding: auto;
    background-color:black ;
}
.fieldset1{
    padding-top: 0%;
    padding-bottom: 1px;
    border-color: rgb(221, 53, 53);
    /* position: fixed; */
    width:97%;
    margin:2px;
    border-left: none;
    border-right: none;
}
fieldset legend{
    color: rgb(221, 53, 53);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}
fieldset h1{
    color:rgb(221, 53, 53);
    font-family: cursive;
    font-size: 50px;
    margin: 0px;
}
.fieldset2{
    background-image: url("../image/bookshelf.jpg");
    border: none;
    margin: 20px;
    height:700px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse; 
    padding-bottom: 5px;
    font-size: 25px;
}
nav a{
    border: 0.5px solid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border:none;
    text-decoration: none;
    padding: 5px;
    font-size: 35px;
    font-weight: bold;
    color: bisque;
}
nav a:hover{
    font-weight: 800;
    color: chartreuse;
}
.fieldset3{
    border-color: rgb(221, 53, 53);
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 97%;
    margin:2px;
    margin-left:5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.image{
    width: 200px;
    height: 100px;
    background-size: cover;
}
.book-container{
    display: flex;
    flex-direction:column ;
    align-items:center ;
}
.anchorclass{
    color: white;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: bisque;
}
.anchorclass:hover{
    font-weight: 800;
    color: chartreuse;
}
.opt{
    font-size: 13px;
}